<div class="container d-flex justify-content-center">
  <% @entries.each do |entry| %>
    <div class="p-2">
      <%= link_to entry.user.name, user_path(entry.user.id), class: "btn btn-dark" %>
    </div>
  <% end %>
</div>

<div class="container text-center">
  <p>2人のDM  <i class="far fa-envelope"></i></p>
</div>

<div class="container p-2">
  <div class="row">
    <div class="col-md-8 offset-md-2">
    <% @messages.each do |message| %>
    　<% if message.user == current_user %>
      <div class="row d-flex justify-content-end">
        <small class="p-2">
          <span class="p-1"><%= image_tag message.user.get_profile_image(20, 20), class: "rounded-circle" %></span>
          <%= message.user.name %>
        </small>
        <strong class="p-2 bg-success rounded-pill"><%= message.body %></strong></br>
      </div>
      <% else %>
      <div class="row d-flex justify-content-start">
        <div class="p-2">
          <small class="p-4">
            <span class="p-1"><%= image_tag message.user.get_profile_image(20, 20), class: "rounded-circle" %></span>
            <%= message.user.name %>
          </small>
          <strong class="p-2 bg-secondary rounded-pill"><%= message.body %></strong></br>
        </div>
      </div>  
      <% end %>
    <% end %>
    </div>
  </div>
</div>
  
<div class="container text-center">
  <%= form_with model: @message, method: :post do |f| %>
  
  <div class="p-2">
    <%= f.text_field :body, placeholder: "メッセージを入力して下さい" , size: 100 %>
    <%= f.hidden_field :room_id, value: @room.id %>
  </div>
  
  <div class="p-2">
    <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>